<ion-header>
  <ion-toolbar>
    <ion-title align="center">ARMAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showCancelButton="focus"></ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-lg="3" size-md="4" size-sm="5" size-xs="6">
        
        <ion-card>
          <img src="/assets/images/arcoCazador.png"/>
          <h1 style="font-size: medium;text-align: center;margin: 0%;"><strong>Arco del Cazador</strong></h1>
          <ion-card-header>
            <ion-icon name="star-sharp" style="padding: 0px;"></ion-icon>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">ATQ: 23.0</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Tipo: Arco</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Sub. Stat: Ninguno</h1>
          </ion-card-header>
        </ion-card>
        
      </ion-col>

      <ion-col size="6" size-lg="3" size-md="4" size-sm="5" size-xs="6">
        
        <ion-card>
          <img src="/assets/images/lanzaPrincipiante.png"/>
          <h1 style="font-size: medium;text-align: center;margin: 0%;"><strong>Lanza del Principiante</strong></h1>
          <ion-card-header>
            <ion-icon name="star-sharp" style="text-align: center;"></ion-icon>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">ATQ: 23.0</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Tipo: Lanza</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Sub. Stat: Ninguno</h1>
          </ion-card-header> 
        </ion-card>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" size-lg="3" size-md="4" size-sm="5" size-xs="6">
        
        <ion-card>
          <img src="/assets/images/hojaDesafilada.png"/>
          <h1 style="font-size: medium;text-align: center;margin: 0%;"><strong>Hoja Desafilada</strong></h1>
          <ion-card-header>
            <ion-icon name="star-sharp" style="text-align: center;"></ion-icon>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">ATQ: 23.0</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Tipo: Espada</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Sub. Stat: Ninguno</h1>
          </ion-card-header> 
        </ion-card>

      </ion-col>

      <ion-col size="6" size-lg="3" size-md="4" size-sm="5" size-xs="6">
        
        <ion-card>
          <img src="/assets/images/espadaGuerrero.png"/>
          <h1 style="font-size: medium;text-align: center;margin: 0%;"><strong>Gran Espada del Guerrero</strong></h1>
          <ion-card-header>
            <ion-icon name="star-sharp" style="text-align: center;"></ion-icon>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">ATQ: 23.0</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Tipo: Mandoble</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Sub. Stat: Ninguno</h1>
          </ion-card-header> 
        </ion-card>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" size-lg="3" size-md="4" size-sm="5" size-xs="6">
        
        <ion-card>
          <img src="/assets/images/apuntesAprendiz.png"/>
          <h1 style="font-size: medium;text-align: center;margin: 0%;"><strong>Apuntes del Aprendiz</strong></h1>
          <ion-card-header>
            <ion-icon name="star-sharp" style="text-align: center;"></ion-icon>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">ATQ: 23.0</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Tipo: Catalizador</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Sub. Stat: Ninguno</h1>
          </ion-card-header> 
        </ion-card>

      </ion-col>

      <ion-col size="6" size-lg="3" size-md="4" size-sm="5" size-xs="6">
        
        <ion-card>
          <img src="/assets/images/grimorioBolsillo.png"/>
          <h1 style="font-size: medium;text-align: center;margin: 0%;"><strong>Grimorio del Bolsillo</strong></h1>
          <ion-card-header>
            <ion-icon name="star-sharp" style="text-align: center;"></ion-icon>
            <ion-icon name="star-sharp" style="text-align: center;"></ion-icon>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">ATQ: 33.0</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Tipo: Catalizador</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Sub. Stat: Ninguno</h1>
          </ion-card-header> 
        </ion-card>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" size-lg="3" size-md="4" size-sm="5" size-xs="6">
        
        <ion-card>
          <img src="/assets/images/arcoCazadorEstacional.png"/>
          <h1 style="font-size: medium;text-align: center;margin: 0%;"><strong>Arco del Cazador Estacional</strong></h1>
          <ion-card-header>
            <ion-icon name="star-sharp" style="text-align: center;"></ion-icon>
            <ion-icon name="star-sharp" style="text-align: center;"></ion-icon>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">ATQ: 33.0</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Tipo: Arco</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Sub. Stat: Ninguno</h1>
          </ion-card-header> 
        </ion-card>

      </ion-col>

      <ion-col size="6" size-lg="3" size-md="4" size-sm="5" size-xs="6">
        
        <ion-card>
          <img src="/assets/images/puntaHierro.png"/>
          <h1 style="font-size: medium;text-align: center;margin: 0%;"><strong>Punta de Hierro</strong></h1>
          <ion-card-header>            
            <ion-icon name="star-sharp" style="text-align: center;"></ion-icon>
            <ion-icon name="star-sharp" style="text-align: center;"></ion-icon>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">ATQ: 33.0</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Tipo: Lanza</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Sub. Stat: Ninguno</h1>
          </ion-card-header> 
        </ion-card>

      </ion-col>

      <ion-col size="6" size-lg="3" size-md="4" size-sm="5" size-xs="6">
        
        <ion-card>
          <img src="/assets/images/arcoCazador.png"/>
          <h1 style="font-size: medium;text-align: center;margin: 0%;"><strong>Arco del Cazador</strong></h1>
          <ion-card-header>
            <ion-icon name="star-sharp" style="padding: 0px;"></ion-icon>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">ATQ: 23.0</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Tipo: Arco</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Sub. Stat: Ninguno</h1>
          </ion-card-header>
        </ion-card>
        
      </ion-col>

      <ion-col size="6" size-lg="3" size-md="4" size-sm="5" size-xs="6">
        
        <ion-card>
          <img src="/assets/images/lanzaPrincipiante.png"/>
          <h1 style="font-size: medium;text-align: center;margin: 0%;"><strong>Lanza del Principiante</strong></h1>
          <ion-card-header>
            <ion-icon name="star-sharp" style="text-align: center;"></ion-icon>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">ATQ: 23.0</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Tipo: Lanza</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Sub. Stat: Ninguno</h1>
          </ion-card-header> 
        </ion-card>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" size-lg="3" size-md="4" size-sm="5" size-xs="6">
        
        <ion-card>
          <img src="/assets/images/hojaDesafilada.png"/>
          <h1 style="font-size: medium;text-align: center;margin: 0%;"><strong>Hoja Desafilada</strong></h1>
          <ion-card-header>
            <ion-icon name="star-sharp" style="text-align: center;"></ion-icon>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">ATQ: 23.0</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Tipo: Espada</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Sub. Stat: Ninguno</h1>
          </ion-card-header> 
        </ion-card>

      </ion-col>

      <ion-col size="6" size-lg="3" size-md="4" size-sm="5" size-xs="6">
        
        <ion-card>
          <img src="/assets/images/espadaGuerrero.png"/>
          <h1 style="font-size: medium;text-align: center;margin: 0%;"><strong>Gran Espada del Guerrero</strong></h1>
          <ion-card-header>
            <ion-icon name="star-sharp" style="text-align: center;"></ion-icon>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">ATQ: 23.0</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Tipo: Mandoble</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Sub. Stat: Ninguno</h1>
          </ion-card-header> 
        </ion-card>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" size-lg="3" size-md="4" size-sm="5" size-xs="6">
        
        <ion-card>
          <img src="/assets/images/apuntesAprendiz.png"/>
          <h1 style="font-size: medium;text-align: center;margin: 0%;"><strong>Apuntes del Aprendiz</strong></h1>
          <ion-card-header>
            <ion-icon name="star-sharp" style="text-align: center;"></ion-icon>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">ATQ: 23.0</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Tipo: Catalizador</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Sub. Stat: Ninguno</h1>
          </ion-card-header> 
        </ion-card>

      </ion-col>

      <ion-col size="6" size-lg="3" size-md="4" size-sm="5" size-xs="6">
        
        <ion-card>
          <img src="/assets/images/grimorioBolsillo.png"/>
          <h1 style="font-size: medium;text-align: center;margin: 0%;"><strong>Grimorio del Bolsillo</strong></h1>
          <ion-card-header>
            <ion-icon name="star-sharp" style="text-align: center;"></ion-icon>
            <ion-icon name="star-sharp" style="text-align: center;"></ion-icon>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">ATQ: 33.0</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Tipo: Catalizador</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Sub. Stat: Ninguno</h1>
          </ion-card-header> 
        </ion-card>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" size-lg="3" size-md="4" size-sm="5" size-xs="6">
        
        <ion-card>
          <img src="/assets/images/arcoCazadorEstacional.png"/>
          <h1 style="font-size: medium;text-align: center;margin: 0%;"><strong>Arco del Cazador Estacional</strong></h1>
          <ion-card-header>
            <ion-icon name="star-sharp" style="text-align: center;"></ion-icon>
            <ion-icon name="star-sharp" style="text-align: center;"></ion-icon>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">ATQ: 33.0</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Tipo: Arco</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Sub. Stat: Ninguno</h1>
          </ion-card-header> 
        </ion-card>

      </ion-col>

      <ion-col size="6" size-lg="3" size-md="4" size-sm="5" size-xs="6">
        
        <ion-card>
          <img src="/assets/images/puntaHierro.png"/>
          <h1 style="font-size: medium;text-align: center;margin: 0%;"><strong>Punta de Hierro</strong></h1>
          <ion-card-header>            
            <ion-icon name="star-sharp" style="text-align: center;"></ion-icon>
            <ion-icon name="star-sharp" style="text-align: center;"></ion-icon>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">ATQ: 33.0</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Tipo: Lanza</h1>
            <h1 style="font-size: smaller;text-align: center;margin: 0%;">Sub. Stat: Ninguno</h1>
          </ion-card-header> 
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
