<ion-header>
  <ion-toolbar>
    <ion-title align="center">personajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showCancelButton="focus"></ion-searchbar>
  <ion-grid>
    <ion-row>

      <ion-col>
        <div>
          <ion-card class="geo">

            <img src="/assets/images/albedo.png"/>

            <ion-card-header>
              <ion-card-subtitle>Albedo</ion-card-subtitle>
              <ion-card-title>Albedo</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              hola soy Albedo
            </ion-card-content>

          </ion-card>
        </div>
      </ion-col>

      <ion-col>
        <div>
          <ion-card class="geo">

            <img src="/assets/images/albedo.png"/>
      
            <ion-card-header>
              <ion-card-subtitle>Albedo</ion-card-subtitle>
              <ion-card-title>Albedo</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              hola soy Albedo
            </ion-card-content>

          </ion-card>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
