<ion-header>
  <ion-toolbar>
    <ion-title align="center">personajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-lg="3" size-md="4" size-sm="5" size-xs="6">
        
        <ion-card>
          <img src="/assets/images/albedo.png"/>
          <ion-card-header>
            <ion-card-subtitle>Albedo</ion-card-subtitle>
            <ion-card-title>Albedo</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            hola soy Albedo
          </ion-card-content>
        </ion-card>

      </ion-col>
    
      <ion-col size="6" size-lg="3" size-md="4" size-sm="5" size-xs="6">

        <ion-card>
          <img src="/assets/images/aloy.png"/>
          <ion-card-header>
            <ion-card-subtitle>Aloy</ion-card-subtitle>
            <ion-card-title>Aloy</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            hola soy Aloy
          </ion-card-content>

        </ion-card>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" size-lg="3" size-md="4" size-sm="5" size-xs="6">

        <ion-card>
          <img src="/assets/images/amber.png"/>
          <ion-card-header>
            <ion-card-subtitle>Amber</ion-card-subtitle>
            <ion-card-title>Amber</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            hola soy Amber
          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col size="6" size-lg="3" size-md="4" size-sm="5" size-xs="6">

        <ion-card>
          <img src="/assets/images/arataki-itto.png"/>
          <ion-card-header>
            <ion-card-subtitle>Arataki Itto</ion-card-subtitle>
            <ion-card-title>Arataki Itto</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            hola soy Arataki Itto
          </ion-card-content>

        </ion-card>
        
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="6" size-lg="3" size-md="4" size-sm="5" size-xs="6">

        <ion-card>
          <img src="/assets/images/beidou.png"/>
          <ion-card-header>
            <ion-card-subtitle>Beidou</ion-card-subtitle>
            <ion-card-title>Beidou</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            hola soy Beidou
          </ion-card-content>

        </ion-card>
      </ion-col>

      <ion-col size="6" size-lg="3" size-md="4" size-sm="5" size-xs="6">

        <ion-card>
          <img src="/assets/images/bennett.png"/>
          <ion-card-header>
            <ion-card-subtitle>Bennett</ion-card-subtitle>
            <ion-card-title>Bennett</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            hola soy Bennett
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
