<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Genshin Impact Wiki
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Genshin Impact Wiki</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-card class="geo">
            <img src="/assets/images/albedo.png"/>
        
            <ion-card-header>
              <ion-card-subtitle>Albedo</ion-card-subtitle>
              <ion-card-title>Albedo</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card class="geo">
            <img src="/assets/images/albedo.png"/>
        
            <ion-card-header>
              <ion-card-subtitle>Albedo</ion-card-subtitle>
              <ion-card-title>Albedo</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>