<ion-header>
  <ion-toolbar>
    <ion-title align="center">Artefactos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showCancelButton="focus"></ion-searchbar>
  <ion-row>
    <ion-col size="6" size-lg="3" size-md="4" size-sm="5" size-xs="6">
          
      <ion-card>
        <img src="/assets/images/afortunado.png"/>
        <h1 style="font-size: medium;text-align: center;margin: 0%;"><strong>Afortunado</strong></h1>
        <ion-card-header>
          <ion-icon name="star-sharp" style="padding: 0px;"></ion-icon>
          <ion-icon name="star-sharp" style="padding: 0px;"></ion-icon>
          <ion-icon name="star-sharp" style="padding: 0px;"></ion-icon>
          <h1 style="font-size: smaller;text-align: center;margin: 0%;"><b>2 Pieza(s)</b></h1>
          <h1 style="font-size: smaller;text-align: center;margin: 0%;">DEF +100</h1>
          <br>
          <h1 style="font-size: smaller;text-align: center;margin: 0%;"><b>4 Pieza(s)</b></h1>
          <h1 style="font-size: smaller;text-align: center;margin: 0%;">Recoger Mora restaura 300 pts. de Vida</h1>
        </ion-card-header>
      </ion-card>

    </ion-col>

    <ion-col size="6" size-lg="3" size-md="4" size-sm="5" size-xs="6">
          
      <ion-card>
        <img src="/assets/images/artistaMarcial.png"/>
        <h1 style="font-size: medium;text-align: center;margin: 0%;"><strong>Artista Marcial</strong></h1>
        <ion-card-header>
          <ion-icon name="star-sharp" style="padding: 0px;"></ion-icon>
          <ion-icon name="star-sharp" style="padding: 0px;"></ion-icon>
          <ion-icon name="star-sharp" style="padding: 0px;"></ion-icon>
          <ion-icon name="star-sharp" style="padding: 0px;"></ion-icon>
          <h1 style="font-size: smaller;text-align: center;margin: 0%;"><b>2 Pieza(s)</b></h1>
          <h1 style="font-size: smaller;text-align: center;margin: 0%;">Daño de Ataque Normal y Ataque Cargado +15%</h1>
          <br>
          <h1 style="font-size: smaller;text-align: center;margin: 0%;"><b>4 Pieza(s)</b></h1>
          <h1 style="font-size: smaller;text-align: center;margin: 0%;">Tras usar la Habilidad Elemental, aumenta el daño de Ataque Normal y Ataque Cargado en un 25% durante 8s</h1>
        </ion-card-header>
      </ion-card>

    </ion-col>
  </ion-row>
</ion-content>
