<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Artefactos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showCancelButton="focus"></ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-lg="3" size-md="4" size-sm="5" size-xs="6" *ngFor="let item of ArtefactosAPI">
        
        <ion-card>
          <img src="/assets/images/artistaMarcial.png"/>
          <ion-card-header>
            <ion-card-subtitle>{{item}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>

      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
